[2018-04-09 16:48] azazelA opened #1 "Calendar showing month & year correct but dates and weeks according to the previous year"
Hi @maurovieirareis The dates are correct but the weeks arrangement looks mixed up. Can you please look into it?
This is the side by side comparison of my mac's calendar and the online demo.
<img width="1678" alt="screen shot 2018-04-09 at 9 40 29 pm" src="https://user-images.githubusercontent.com/19649989/38510581-ec685c12-3c3e-11e8-8de3-8ab9c95f5759.png">
This is where I've implemented this
<img

[2018-04-09 18:38] mauroreisvieira commented on #1
Hi @azazelA thanks for you report! :)

[2018-04-09 20:06] azazelA commented on #1
Is there any way you can get it working for me? I've already implemented this in my template and this is the most light weight calendar I found without having to use jQuery.. I really don't wanna have to revert the changes and go look for an alternate one. The dates for 2018 are correct in the 2019 panels theres a one year difference going on somehow?

[2018-04-09 20:09] azazelA commented on #1
@maurovieirareis what if I need to change the start date of the calendar? e.g. I want to set it for the year 2019 for when it opens the first time.

[2018-04-09 21:34] azazelA commented on #1
@maurovieirareis I'm also not able get the selected date from weekdays. It should still allow weekdays to be selectable and work with `lastSelectedDay`. I am not sure if you made an option for it though

[2018-04-10 00:09] mauroreisvieira commented on #1
@azazelA in this moment the calendar not permit to define the start date, but i will start work in this improvement and also fix the year bug.

[2018-04-10 00:59] mauroreisvieira commented on #1
Hi again @azazelA the version 0.0.5 is available.
If you have some question please talk to me.

This new version allows define the defaultDate, in this current version you need to specify all date eg: 2019/06/24.

[2018-04-10 16:25] #1 closed

[2018-04-11 00:17] fontebasso opened #2 "Enhacement: Disable dates"
Is it possible to develop a possibility of passing a list of dates that would like to block?

Example:
[code]

[2018-04-11 08:29] mauroreisvieira commented on #2
Hi @fontebasso yes, its possible, a i have a list of new features and that its one.

[2018-04-12 09:29] mauroreisvieira commented on #2
Hi again @fontebasso the version 0.1.0 its available.

Now you can define disable dates and also interval of days.

**eg:**

`disableDates: [
    '2018-04-17', '2018-04-19', '2018-04-23'
],`
`disableDates: [
    ['2018-04-16', '2018-04-24'],
    ['2018-05-16', '2018-05-22']
]`

**Attention**: You only can define dates with this format (YYYY-MM-DD) if you have the `format`option active, in alternat

[2018-04-12 09:31] #2 closed

[2018-04-12 14:11] fontebasso commented on #2
Awesome, thanks!

[2018-07-24 16:44] WrongWay opened #8 "Easy way to get selected date formatted?"
I need to get the selected date formatted in the `onSelect` callback. Any easy way to do this?

[2018-07-25 19:00] 8geonirt commented on #8
@WrongWay You can easily do that by setting the desired format in the `HelloWeek` `format` option.

For example I'm using the `YYYY-MM-DD` below
[code]

By using that format you can easily see the selected dates in the HelloWeek array

[2018-08-01 10:04] #8 closed

[2018-10-30 13:02] felipericcetto opened #9 "Disable days"
Hello, I found the project very cool.
I'm just having a hard time using "disableDates". I'm passing the dates, for example:
['2018-10-02', '2018-10-09', '2018-10-16', '2018-10-23']

but the days that are getting disabled are always the day before those.
Is it a problem with daylight saving time?
Thank you

[2018-10-31 10:00] mauroreisvieira commented on #9
@felipericcetto thanks for report, I will check this.

[2018-11-13 16:53] mauroreisvieira commented on #9
@felipericcetto I have been look to the code and I not find any bug. Can you send me more details about all options are you using.

[2018-11-21 08:08] tearhear18 opened #10 "Month Date Range"
When I choose month january then proceed to month march, range does not work.
seems like range work only inside the displayed month.

[2018-11-27 12:02] mauroreisvieira commented on #10
Hi @tearhear18, yes it's a bug.
In a few days I a go publish the version 2.0.0 an this bug is fixed.

[2018-11-28 12:28] tearhear18 commented on #10
do you have the bleeding branch i can help you to resolve it asap

[2018-11-28 17:47] mauroreisvieira commented on #10
@tearhear18 yes. It's great.

You can Fork the repository, make the changes and create a Pull Request.

[2018-11-29 04:58] tearhear18 commented on #10
i can't push the fixtures

[2018-11-29 05:02] tearhear18 commented on #10
I added this in line 188, inside the method selectDay, inside for loop of activeDates
what it does is during init of day if interval has content and first element match the timestamp class is added to it same with second element. quick fix but can be refactored
if (this.options.range) {

                if (this.interval[0]){
                    if(this.interval[0].dataset.timestamp == this.active

[2018-11-29 09:50] mauroreisvieira commented on #10
@tearhear18 thanks, I will check and updated.

[2018-11-29 12:30] tearhear18 commented on #10
<img width="578" alt="screenshot 2018-11-29 at 8 29 34 pm" src="https://user-images.githubusercontent.com/4946755/49221962-8ce35780-f415-11e8-8df7-a28519da616a.png">
<img width="569" alt="screenshot 2018-11-29 at 8 29 47 pm" src="https://user-images.githubusercontent.com/4946755/49221963-8d7bee00-f415-11e8-9817-c4a7732ac53e.png">
fix tested and working

[2018-11-29 13:05] mauroreisvieira commented on #10
Yes, but a see another problem, in array with selected days. But today I launch a version with this problems solved.

Thanks.

p.s: Nice look in calendar.

[2018-11-29 13:12] tearhear18 commented on #10
in my version i added selected_days_member class, if first element of interval is greater and last element is less than target elm

[2018-11-29 14:44] tearhear18 commented on #10
about the selected days array, logic can be calculated between start and end date, how ever would be better to have it too :D

[2018-11-29 18:03] mauroreisvieira commented on #10
@tearhear18 you have been doing some tests, and I will choose not to do the updated in this version.

But in version 2.0.0 this are fixed.

[2018-11-30 02:47] tearhear18 commented on #10
@mauroreisvieira what i did on my project is really write your implementation on my source code. since  i modified a lot in css and extra feature in calendar

[2018-12-10 15:55] #9 closed

[2018-12-10 17:07] tearhear18 commented on #10
@mauroreisvieira
<img width="1021" alt="screenshot 2018-12-11 at 1 05 11 am" src="https://user-images.githubusercontent.com/4946755/49748518-dc146c80-fce0-11e8-89c7-90f42451cadb.png">
<img width="1001" alt="screenshot 2018-12-11 at 1 05 02 am" src="https://user-images.githubusercontent.com/4946755/49748528-e2a2e400-fce0-11e8-8ff8-81ebe4a22b7b.png">

did you intentionally do this? 19 - 31 month of

[2018-12-10 17:18] mauroreisvieira commented on #10
@tearhear18 no, was not supposed to have this behavior.

[2018-12-10 23:04] mauroreisvieira commented on #10
@tearhear18 updated! Thanks for your feedback.

[2018-12-10 23:04] #10 closed

[2019-02-21 11:44] luckylwk opened #13 "Feature: set already selected dates"
Would be amazing to be able to, like `daysHighlight`, pass an array of already selected dates (using `daysSelected` for example.

I now do it as follows:

[code]

[2019-02-21 12:12] mauroreisvieira commented on #13
Hi @luckylwk I go check this.  Thanks for you suggestion.

[2019-02-23 07:20] roland-d opened #14 "Update documention on how to get selected day(s)"
Hello,

Thank you for this nice lightweight calendar. I am able to make it show up but then I got stuck as I cannot seem to find a way on how to retrieve the selected day / range.

I have looked at issue #8 but this no longer seems to work.

Can you tell me how to get the selected day/range? I was expecting to get it as an argument in my callback but that doesn't seem to be the case.

Once I have

[2019-02-23 10:07] roland-d commented on #14
I have answered my own question and written the documentation, see PR:
https://github.com/mauroreisvieira/hello-week/pull/15

[2019-02-23 10:15] roland-d opened #16 "Function goToDate() results in this.date is undefined."
Hello,

When using the `goToDate()` function I always get the JavaScript error:
[code]

Steps on how to reproduce:
1. Create a page that loads the calendar JS and markup
2. Open the browser console and execute this code:
[code]
3. Verify it works by running `calendar.getDays()`. This should return an array
4. Make the calendar jump to a given day by executing this code:
[code]
5. Notice the error

[2019-02-23 12:24] mauroreisvieira commented on #14
Merged.

@roland-d thanks for you PR.

[2019-02-23 12:24] #14 closed

[2019-02-23 12:27] mauroreisvieira commented on #16
Hi @roland-d to use this method goToDate() is better to use like this:

[code]

But yes, exists on error in HelloWeek, I will go fix during the weekend.

**Demo:**
[Go to Date](https://mauroreisvieira.github.io/hello-week/#/docs/demos/go-to-date)

Thanks again for you feedback 👍

[2019-02-23 14:44] roland-d commented on #16
@mauroreisvieira I actually want to use the goToDate() in a different matter. I have 1 calendar used for 2 input boxes. When the user clicks on the inputbox I want to set the calendar to the date set in the inputbox. This is a from and a to date. That is why I am looking at the goToDate() function to forward the calendar.

[2019-02-23 17:15] mauroreisvieira commented on #16
@roland-d ok, but I guess your issue is solved, see the demo again.

[Demo Go to Date](https://mauroreisvieira.github.io/hello-week/#/docs/demos/go-to-date)

[2019-02-24 09:30] roland-d commented on #16
@mauroreisvieira I see the demo is working but on my own installation I keep getting the error specified in the bug report.

Now I replaced the minified JS file with the one from this repository but now the calendar is completely broken. This is all I get.
![image](https://user-images.githubusercontent.com/359377/53297435-16d96b80-381f-11e9-87e4-f3e1bbfd45a4.png)

[2019-02-24 11:40] mauroreisvieira commented on #16
Hi @roland-d can you try update the package again in npm or yarn.

[2019-02-24 12:27] mauroreisvieira commented on #13
Hi again @luckylwk this feature have been added in HelloWeek calendar, in **version 2.1.0**.

[Demo](https://mauroreisvieira.github.io/hello-week/#/docs/demos/selected-days).

Thanks for you suggestion 👍.

[2019-02-25 15:27] roland-d commented on #16
@mauroreisvieira So I build a new file and the jump to is working. Unfortunately, the `selectedDays` option seems broken now as it doesn't highlight the dates set in that.

[2019-02-25 15:40] mauroreisvieira commented on #16
You can see the console and . check if everything is ok?

[2019-02-25 15:40] roland-d commented on #16
Yes, I checked the console but there is no error.

[2019-02-25 15:41] mauroreisvieira commented on #16
Can you send me the example.

[2019-02-26 10:09] #13 closed

[2019-02-28 14:42] MasterMind92 opened #18 "Error: You need to specify a selector!"
Hey, here is the error i get :
**Error: You need to specify a selector!**

But isn't "**.hello-week**" a class selector ?

[2019-02-28 15:08] mauroreisvieira commented on #18
Hi man.
By default the **HelloWeek** use the `.hello-week` class, but if you prefer use a different you need specify on init method.

**example**:

[code]

[code]

[2019-02-28 18:48] #18 closed

[2019-02-28 18:48] #16 closed

[2019-03-12 16:19] vbrodrigo opened #19 "setDaysHighlight - Returns 1 day before"
The method below always returns 1 day before. In the sample, the calendar makes highlighted 2019-03-31:

setDaysHighlight([
{days: ['2019-04-01'],backgroundColor: '#999'},
])

The same issue happens in official documentation, also.

[2019-03-12 17:24] mauroreisvieira commented on #19
Hi @vbrodrigo are you sure? I see the official documentation an I not see any issue. Can you send me a screenshot?

[2019-03-12 17:35] vbrodrigo commented on #19
See below:

<img width="357" alt="Captura de Tela 2019-03-12 às 14 34 05" src="https://user-images.githubusercontent.com/24582321/54222357-ffafa480-44d3-11e9-9707-e1d1085eeeb3.png">

<img width="951" alt="Captura de Tela 2019-03-12 às 14 34 11" src="https://user-images.githubusercontent.com/24582321/54222362-050cef00-44d4-11e9-8615-dc7f1f412472.png">

[2019-03-12 17:43] mauroreisvieira commented on #19
Whaaat?!?!?
It's not happen with me, but I will go check this.

What version are you using?

![Highlight Dates ](https://user-images.githubusercontent.com/3084774/54222885-372b4a80-44ee-11e9-8511-87c77ab6aa42.png)

[2019-03-12 17:47] vbrodrigo commented on #19
I'm using [2.1.0] - 2019-02-24

Maybe, the trouble is my timezone (UTC -03:00 from Brazil), because i can see that you converts date to time in this method. Or not?

[2019-03-12 17:58] mauroreisvieira commented on #19
Hum, yap. It's the problem. But I can fix this.

[2019-03-12 18:22] vbrodrigo commented on #19
Great! Hello week was the best of calendars i could find. Beautiful and functional. Congratulations! Obrigado!

[2019-03-13 09:35] mauroreisvieira commented on #19
Muito Obrigado @vbrodrigo .

[2019-03-18 16:17] mauroreisvieira commented on #19
@vbrodrigo fix in new version.

[2019-03-19 06:04] psishock opened #20 "defining any "daysSelected" highlights a day before"
Seem to be the same problem as the other person (https://github.com/mauroreisvieira/hello-week/issues/19) had in the issue tracker, even with the most recent version. Setting any "daySelected" option unfortunately highlights those day(s) before. I've opened a new issueTracker because it may not be related.

I'm from Canada, at Mountain Daylight Time (MDT) timezone.
I'm using the newest version: 2.

[2019-03-19 09:48] mauroreisvieira commented on #20
Hi @psishock thanks for you report. This timezone kill me :)
I will check this issue.

Thanks again.

[2019-03-19 11:25] mauroreisvieira commented on #20
Hi @psishock @vbrodrigo in fact the bug is already solved but I forgot to generate a new distribution, so I generated a new version with the old code.

I apologize for the inconvenience, you can test version 2.3.0.

[2019-03-19 16:39] psishock commented on #20
Ah, perfect!

Thank you so much mauroreisvieira for looking into this. At least this time, apparently it was an easy fix. :) Indeed it works as intended now.

[2019-03-19 17:33] psishock commented on #20
Oh, testing it some more revealed that this bugfix actually breaks the ".getDays()" method.

It returns any predefined days by the "daysSelected" parameter a day before.

However, it returns any additionally selected days (with a mouse click for instance) at the right date. But the returned days, from the predefined parameter days will still be wrong.

Can't we ignore the timezone-parsing all toge

[2019-03-20 09:52] mauroreisvieira commented on #20
Hi @psishock to make all validations I convert all dates to timestamp, to compare dates and other points. Also is more simple to format date if is in timestamp.

The problem to convert this date in timestamp its the differents timezons.

[2019-03-22 15:37] mauroreisvieira commented on #20
Hi @psishock can you try the new version:

https://github.com/mauroreisvieira/hello-week/releases/tag/2.4.0

I need start writing the unit test to check that kind of changes don't break other methods.

[2019-03-22 18:05] psishock commented on #20
Hi @mauroreisvieira, we're getting closer but still now quite there.

So now when we call the ".getDays()" method, it will print all the preset values a day before (this haven't changed). Also any further selected/clicked days are now printed with that method a day before as well (this was good at 2.3.0, but got broken at 2.4.0).

On the upside, at least it's consistently a day off everywhere now.

[2019-03-22 18:19] mauroreisvieira commented on #20
Hi @psishock thanks again for your feedback. I don't have much time to fix this issues, so basically I write code, test in my browser and lunch the new version. And sometimes broke other methods.

[2019-04-12 16:09] fabio-craq opened #21 "Is it possible to add something to get current shown month?"
Hi!
Nice work with this plugin!

Can i ask you if you can add a function that returns the current displayed month and year?
Or maybe you can suggest me a way to get that data?

thank you!

[2019-04-12 16:12] fabio-craq commented on #21
Btw, I've tried with this:
`var month = $('.period').html(); var d = new Date(month);`
But works only with english calendar localization.

thank you!

[2019-04-12 17:02] mauroreisvieira commented on #21
Hi @fabio-craq thanks. At the moment is not possible get the current month or year. But I go add the methods.

[2019-04-15 07:47] fabio-craq commented on #21
hi @mauroreisvieira   thanks a lot for the answer!
hope to hear from you soon!

[2019-04-16 10:25] mauroreisvieira commented on #21
Hi @fabio-craq check new version.

https://mauroreisvieira.github.io/hello-week/#/docs/demos/get-month-year

[2019-04-16 10:36] fabio-craq commented on #21
Thank you @mauroreisvieira!!
I'll update and give you a feedback asap!

[2019-04-16 10:36] mauroreisvieira commented on #21
Thank you, to use Hello Week.

[2019-04-17 06:31] fabio-craq commented on #21
It works like a charm, thank you!

[2019-04-17 08:33] mauroreisvieira commented on #21
Great! Ty for you feedback.

[2019-04-17 08:33] #21 closed

[2019-04-17 14:00] Taekick opened #22 "How to import in angular project ?"
Hello,

I would like to import hello-week on my angular project.

I installed thanks to npm install... and after i tried to import hello-week
 'import * as helloWeek from 'hello-week' (like to import "moment.js")  but it doesn't work.

Can you help me please ?

Regards

[2019-04-17 15:28] mauroreisvieira commented on #22
Hi @Taekick I will check what is the problem.

Ty for your report.

[2019-04-18 09:31] rcdd commented on #22
Hi @Taekick, you need to import like

`import { HelloWeek } from 'hello-week/src/scripts/hello-week';
`

and in constructor() or onInit() or ngAfterViewInit() you need to create a new instance and send it the options has you want.

**Options object example**

`
this.helloWeekOptions = {
			selector: '#' + this._datePicker.id,
			langFolder: 'assets/langs/',
			weekStart: 1,
			format: 'YYYY-MM-DD'

[2019-04-18 10:18] francescobaldan commented on #22
@rcdd I still got errors
[code]

This is my component .ts file

[code]

[2019-04-18 14:02] rcdd commented on #22
@Taekick
1 - Do you have the last version? Which version you have?
2 - Are you using webpack?

Another thing is, probably is better create instance in ngAfterViewInit() method because the calendar will search for an element that could't be created yet if you call in constructor().

[2019-04-19 10:08] Taekick commented on #22
Hi all,
after digging, I was able to use the plugin.

`import 'hello-week/dist/hello.week.min.js';`
`datepicker: any;`
`this.datepicker = new window['HelloWeek']();`

[2019-04-19 10:37] francescobaldan commented on #22
@Taekick I still have errors with this, because HelloWeek can't find the lang files. With your code `this.datepicker = new window['HelloWeek']();` it searches on `http://localhost:4200/dist/langs/en.json`, which is obviously a wrong path

[2019-04-19 12:42] rcdd commented on #22
@francescobaldan
Please try copy lang folder from 'Hello-Week' node_modules folder and paste in project assets folder. It can fix you issue.

Let me know if you works!

[2019-04-19 13:24] francescobaldan commented on #22
@rcdd thank you so much! It worked copying the `lang` folder on the `assets` folder and setting that folder on options. This is the code I use to initialize HelloWeek:

[code]

[2019-04-22 08:54] mauroreisvieira commented on #22
TY @rcdd to help me in this answer.

[2019-04-22 08:54] #22 closed

[2019-05-05 12:54] newgi opened #23 "setDaysHighlight doesn't work in Safari"
there are no console errors and getDaysHighlight gives back the same array of events, but '.is-highlight' classes are never added to the DOM.

The issue is present on the demo page as well, the days are not highlighted visually in Safari
https://mauroreisvieira.github.io/hello-week/#/docs/demos/highlight-dates

[2019-05-06 09:47] mauroreisvieira commented on #23
Hi @newgi thanks for your report. I will check a soon as possible.

[2019-05-09 11:12] mauroreisvieira commented on #23
Hi @newgi bug fixed in version [2.10.1](https://github.com/mauroreisvieira/hello-week/releases/tag/2.10.1).

TY!

[2019-05-10 19:37] Markus-Berger commented on #23
I believe this version may have broken the highlights on other browsers, as I can't see them anywhere now. (Tested on Chrome, Firefox, Edge, no console errors)

The issue is also present on the demo paged linked in the original issue - although the date range from 2019-06-02 to 2019-06-14 is shown (2019-06-01 is not highlighted though, while judging from the description it should be.)

[2019-05-14 10:21] fabio-craq commented on #23
yes, same here.
This update broken the daysHighlight parameter and the setDaysHighlight function.

need fix ASAP!!

Thank you.

[2019-05-14 10:22] fabio-craq opened #24 "daysHighlight and setDaysHighlight BUG"
Hi,
the 2.10.1 broken the daysHighlight parameter and the setDaysHighlight function.

need fix ASAP!!

Thank you.

_Originally posted by @fabio-craq in https://github.com/mauroreisvieira/hello-week/issues/23#issuecomment-492179084_

[2019-05-14 23:27] mauroreisvieira commented on #23
Hi @Markus-Berger and @fabio-craq I test in Chorme, FIrefox and Safri and dont have any error.

https://mauroreisvieira.github.io/hello-week/#/docs/demos/highlight-dates

[2019-05-14 23:31] mauroreisvieira commented on #24
reopen the issue [23](https://github.com/mauroreisvieira/hello-week/issues/23).

[2019-05-14 23:31] #24 closed

[2019-05-15 08:20] fabio-craq commented on #23
ok so, can i ask you an example of how the setDaysHighlight function works?
For instance, i have an array of non contiguous days to highlight.

Thank you so much!

[2019-05-15 08:44] fabio-craq commented on #23
the example that you linked (https://mauroreisvieira.github.io/hello-week/#/docs/demos/highlight-dates) does not work. It only highlights the current day, not the ones that you passes as argument to daysHighlight.

[2019-05-16 10:39] mauroreisvieira commented on #23
@fabio-craq what is your timezone and OS? Because for me work's fine. :/

<img width="1011" alt="Screenshot 2019-05-16 at 11 38 17" src="https://user-images.githubusercontent.com/3084774/57847776-37d2ac80-77cf-11e9-838e-2b55a98943b2.png">

[2019-05-16 10:47] fabio-craq commented on #23
that's quite strange. I can see the June highlight exactly as you see it, but i can't see march (2019-03-22) nor december(2019-12-18) highlights that you have in your example.
I'm in Italy and i work on a mac with ma os 10.14.4

[2019-05-16 11:00] fabio-craq commented on #23
also the june example is not correct, because it takes only the first parameters ( ["2019-06-01", "2019-06-14"]) and not the second (["2019-08-16", "2019-04-29"])

[2019-05-16 11:05] fabio-craq commented on #23
it's also very strange that if i call myCalendar.getDaysHighlight() it prints  the right highlited days, while these days haven't the is-highlight class (see screenshot)
<img width="385" alt="Schermata 2019-05-16 alle 13 04 22" src="https://user-images.githubusercontent.com/23176237/57849264-22fc1600-77db-11e9-82d3-2aa4ae34faf2.png">

[2019-05-16 17:40] Markus-Berger commented on #23
@mauroreisvieira In your picture the first day of the date range is missing too. Per definition, it should start at '2019-06-01'. This is the same problem I have, all the single days and the first date of the date range aren't highlighted.

My OS and TZ: Windows, CEST

[2019-05-19 02:28] DevBodin commented on #23
My thanks for the hard work that clearly went into this calendar. I'm starting to see the light of day, but I too was completely missing any sort of formatting for anything outside of the 'today highlight.' It took longer than I'm ready to admit, but I finally found something that works:

[code]

An array of objects with days as an array of arrays. It's quite the nest.
This accomplishes what I nee

[2019-05-19 08:29] fabio-craq commented on #23
Thank you @DevBodin, but in this way it highlights only the first date span, not the single days. For example if my array is ["2019-05-17"]["2019-05-16"]["2019-05-18"]["2019-05-22"]["2019-05-18"]["2019-05-25"] it highlights days from 17/05 to 19/05 (yes, is one day ahead), but 22/05 and 25/05 are just ignored.

[2019-05-19 08:55] fabio-craq commented on #23
at this point i don't know what to do because i need to publish the client's website in a week or so and this is the only thing that doesn't work. I'm afraid that if this won't work in a couple of days i have to switch to another calendar script.
Some other debug information:
- the old version (the one that didn't works with safari) works like a charm on other browsers;
- on my code its seems that

[2019-05-19 11:12] mauroreisvieira commented on #23
Hello everyone, I apologize for my late reply. But this week was impossible.

Today I made a small correction, in relation to the 1st day not to be highlighted, I do not know if it solved other problems. But I do not know why my days turn out well :(

Waiting feedback...

[2019-05-19 11:30] fabio-craq commented on #23
Hi @mauroreisvieira
this new version seems to fix the setDaysHighlight problem!

you made it! thanks a lot!

[2019-05-19 11:31] mauroreisvieira commented on #23
TY @fabio-craq for your fast feedback.

Sorry again for the huge delay.

[2019-05-20 07:46] fabio-craq commented on #23
no problem :-)

[2019-05-21 07:16] aiyogit opened #25 "Simplified Chinese translation"
`{
    "days": [
        "星期天",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六"
    ],
    "daysShort": [
        "周日",
        "周一",
        "周二",
        "周三",
        "周四",
        "周五",
        "周六"
    ],
    "months": [
        "一月",
        "二月",
        "三月",
        "四月",
        "五月",
        "六月",
        "七月",
        "八月",
        "九月",

[2019-05-21 09:00] mauroreisvieira commented on #25
Hi @aiyogit thanks for your suggestion.

[2019-05-23 18:08] mauroreisvieira commented on #23
@newgi @fabio-craq can close the issue?

[2019-05-23 18:13] #25 closed

[2019-05-24 07:04] fabio-craq commented on #23
ok for me

[2019-05-24 07:39] newgi commented on #23
Sure, thank you!

[2019-05-27 08:47] #23 closed

[2019-07-03 15:52] yodaXX opened #26 "todayDate timezone issue"
Hi,
found hello week through a listing site.
i tested hello week and ran into issues at highlighting todays date.
In this demo the highlight is working: https://www.cssscript.com/demo/minimal-clean-inline-date-picker-hello-week/ dont know what version they are using.
Did a bit of research into the code and saw that this.todayDate timestamp has a -2 Hour offset compared to todays date in this.days.

[2019-07-09 16:58] mauroreisvieira commented on #26
Hi @yodaXX I don't know what version the CSSScript use for this demo.

But please check if everything its ok in Oficial website:
https://mauroreisvieira.github.io/hello-week/#/docs/demos/highlight-dates

[2019-07-22 09:30] yodaXX commented on #26
The Fix i applied, was for the latest state of the git repository.
In my case the todayHighlight isnt working for the demos.

[2019-07-29 08:58] luckylwk opened #28 "Feature request: Max selectable"
We want to only allow a user to select a maximum of 5 days.

Any suggestions on how to achieve this with the current setup? I tried overwriting `this.selectedDates` in the `onSelect` callback, but then the CSS doesn't update and the divs don't have an identifier by date to remove any `is-selected` classes.

[2019-07-29 10:27] mauroreisvieira commented on #28
Hi @luckylwk it's a god feature.

I'm working on a new core for Hello week.

For now you can go with:

[code]

[2019-07-29 14:58] bauermar opened #29 "Bug in range selection"
Hello,

I think your calendar plugin is very nice, but I found an error. On choose range and disablePastDays the rang is only working on next month days. I using a Chrome on Mac with lastest version.

[2019-07-31 14:20] mauroreisvieira commented on #29
Hi @bauermar I will check this.

TY for your feedback.

[2019-08-01 13:36] luckylwk commented on #28
That does not work as it keeps updating the UI by adding the classes. It works for the data, but not for the UI

[2019-08-01 13:56] mauroreisvieira commented on #28
Inside validation call `calendar.update()` will update you calendar.

[2019-08-01 16:31] mauroreisvieira commented on #29
Hi @bauermar check new version.

[2.10.3](https://github.com/mauroreisvieira/hello-week/releases/tag/2.10.3)

[2019-08-01 16:31] mauroreisvieira commented on #26
Hi @yodaXX  check new version.

[2.10.3](https://github.com/mauroreisvieira/hello-week/releases/tag/2.10.3)

[2019-08-04 15:20] luckylwk commented on #28
That worked. Thanks Mauro!

Looking forward to using the new version once its ready 😄

[2019-08-05 10:12] mauroreisvieira commented on #28
TY @luckylwk for use Hello Week.

Like I said, I'm working in new Hello Week core. In version 3, this options it's available.

[2019-08-05 10:12] #28 closed

[2019-08-06 08:15] luckylwk opened #30 "Timezone bug"
We are experiencing a really odd behavior when on US timezone vs UK timezone. Here is the expected behavior, which also works on London/UK timezone:

<img width="796" alt="image" src="https://user-images.githubusercontent.com/6073340/62522826-5d99ab80-b82a-11e9-8757-655014132e65.png">

When changing the date/time preferences to New York the following happens:

<img width="818" alt="image" src="htt

[2019-08-06 09:09] mauroreisvieira commented on #30
Wow... The UI it's ok, but the API not?
After you change the timezone you refresh the page to check?

[2019-08-06 09:21] luckylwk commented on #30
As an update. `this.selectedDays` both return the dates 1 day off.

We have tested in both the US and UK and we see the same behavior.

It seems like `this.getDaySelected()` returns the last selected as a UNIX timestamp.

[code]

The behavior worsens when you switch months and then switch back, not the highlighted dates are also incorrect. The UI then is in sync with the wrong dates

[2019-08-06 09:22] luckylwk commented on #30
Yes

Yes, but also checked with US/UK colleagues. We see it working fine in the UK and are getting bookings with days two days off from the US.

[2019-08-06 09:45] luckylwk commented on #30
The behavior worsens when you switch months and then switch back, not the highlighted dates are also incorrect

[2019-08-06 10:31] mauroreisvieira commented on #30
The problem is the Hello Week core work with timestamp to compare dates, and it's very painful, because I don't know any way to define the Timezone.

The new core work totally different. You can send your timezone.

I try to publish the new version during this week.

Sorry for that.

[2019-08-06 11:03] luckylwk commented on #30
Here is our quick fix in `onSelect`. We use two input fields `timestampArray ` and `dateArrayISO` and use the timestamps as the source of truth

[code]

[2019-08-26 10:10] #26 closed

[2019-08-26 10:10] #29 closed

[2019-09-04 23:28] andresog14 opened #31 "find demo"
Hi Mauro,

can you help me please? where I can find this exactly demo https://www.borahvandoorslaer.be/node_modules/hello-week/demos/demos.html

[2019-09-05 08:42] mauroreisvieira commented on #31
Hi @andresog14

I don't have more this example, but what do you need, toggle to range or button today?

[2019-09-05 15:30] andresog14 commented on #31
Hi Mauro,
actually yes, I need the toogle to range, can you help me please?

[2019-09-05 18:53] mauroreisvieira commented on #31
It's simple.

**For example:**

[code]

[2019-09-07 22:34] andresog14 commented on #31
Thanks for your help Mauro!

[2019-09-09 17:58] #31 closed

[2019-09-17 16:46] andresog14 opened #32 "Disable dates From DB"
Hi Mauro,

Can you help me pls?

how can I disable dates from a BD, I got a DB with dates that insert in the table, but how can I use those days and disable it? I am using ajax and puting function at the disableDates. This is my code

    function mostrar() {
            var xhr = new XMLHttpRequest();
            var x = document.querySelectorAll('.hello-week__day')

            xhr.onreadystatec

[2019-09-24 18:13] gurindersarai commented on #30
Please Bro Release That New Version  if its Ready . Its Shows 2 days off in US Timezone.

[2019-10-01 14:45] mauroreisvieira commented on #32
Hello.
You can initialize the Hello Week after you receive the dates.

[2019-10-01 15:22] andresog14 commented on #32
can you give me and example pls? Im new in JS so I really don't understand what you say

[2019-10-01 15:54] mauroreisvieira commented on #32
Yes, sure I will create example ASAP.

[2019-10-01 16:12] andresog14 commented on #32
I appreciate your help, thank you so much

[2019-10-01 18:32] mauroreisvieira commented on #32
Hi again @andresog14 check this example:

https://jsfiddle.net/mauroreisvieira/6fh97xaL/4/

Things you need to keep in mind:

[code]

[code]

[code]

[2019-10-01 19:43] andresog14 commented on #32
thank you so much Mauro, Im going try to put this code in the calendare, I will tell you if it works.

[2019-10-07 15:49] #32 closed

[2019-10-22 15:21] vincentdurufle opened #33 "display of days problem"
Hey great stuff !
Just for the record i had a problem with the display of days not working properly. There were only 5 days being displayed in a line.
The problem was in the .day class styling the padding with 1em on all sides. Got it working by removing the left and right padding.

I don't know if I'm the only one but thought i'd send some feedback !

[2019-10-22 18:30] mauroreisvieira commented on #33
Hi vincentdurufle do you import all css files? I guess is something related with box-sizing

[2019-10-22 18:39] vincentdurufle commented on #33
Yeah i imported everything. Thought it was some kind of problem with my own css causing issues with it but even when i removed my styling the problem was still there.

[2019-10-23 09:55] mauroreisvieira commented on #33
@vincentdurufle TY for your report, have you add box-sizing: border-box; in your CSS right?

If yes, please can you provide some screenshots to see?

TY!

[2019-11-18 19:44] nate-york commented on #30
Any update on this getting properly fixed @mauroreisvieira?

[2019-11-25 14:15] mauroreisvieira commented on #30
Hi @nate-york I have a little bit off, but want to go back and release version 3 that will have this bug fixed.

[2020-01-23 12:09] #33 closed

[2020-01-23 12:14] mauroreisvieira commented on #30
Hi @nate-york I have a new alpha version 3.0.4-alpha, please if you have time, tested to see if everything it's ok.

[2020-01-23 12:15] mauroreisvieira commented on #20
Hi @psishock I have a new alpha version: 3.0.4-alpha, please if you have time check if it's work fine.

[2020-03-09 15:30] mauroreisvieira opened #39 "add option to show calendar by year"

[2020-03-09 17:03] mauroreisvieira opened #40 "show days of previous month"

[2020-04-08 04:09] hnguyen48206 opened #41 "How to use this module with Angular/Ionic Project?"
Hi,

I'm trying to integrate this module into my mobile (ionic) project using this command to install **npm install hello-week --D** and then import it with **import * as HelloWeek from 'hello-week'**
However, the editor keeps saying 'Cannot find module 'hello-week''. Is there any way to properly use this calendar with angular? Any help would be much appreciated.

Best Regards.

[2020-04-08 10:10] mauroreisvieira commented on #41
Hi @hnguyen48206 it's probably required to declare the module to use that.

But try to install `npm i 3.0.4-alpha -D` and check if the issue persists.

[2020-05-07 09:34] rakshak4 opened #43 "Disabled dates not disabled for dates greater than 10 october"
Hello

I am having an issue with disabled dates. I pass in the following dates in the 'disableDates' parameter:
![image](https://user-images.githubusercontent.com/17859129/81278763-29784300-9067-11ea-8b7a-c7216b0712ce.png)
However, dates after 2020-10-10 are not disabled.
![image](https://user-images.githubusercontent.com/17859129/81278883-5b89a500-9067-11ea-8177-cc8d0c5bc236.png)

Im guessing, ei

[2020-05-07 10:13] mauroreisvieira commented on #43
Hi @rakshak4.

You disabled this days with what approach?

**1. Disabled days one by one:**
[code]

**2. Disabled interval of days:**
[code]

If it's the first approach, can provide me the array of days to test and the version of HelloWeek that you are using ?

[2020-05-07 11:22] mauroreisvieira opened #44 "rendering issue on set day highlight"
on set one day highlight we should't render all days, this it's a performance issue.

[2020-05-07 13:57] rakshak4 commented on #43
Im using method 1: one by one

Calender parameters (JSON):
[calParams.txt](https://github.com/mauroreisvieira/hello-week/files/4593314/calParams.txt)

version im using: 2.10.3

[2020-05-08 17:35] mauroreisvieira commented on #43
@rakshak4 the issue is related with month format.

Since you define the format date `yyyy-MM-dd` you should use `2020-06-10` on your array of dates.

If you want to use the format `2020-6-10` you should change the format date to `yyyy-mm-dd`.

**Solution: 1 -  Keep the `disableDates` as you have and change the `format` settings to:**

[code]

**Solution: 2 -  Keep the format and change your array

[2020-05-11 09:49] rakshak4 commented on #43
Thanks. It works now :D

[2020-05-11 09:49] #43 closed

[2020-07-21 16:46] theodorewilkins opened #47 "getDays() values are two days out on BrowserStack's Windows 8.1 machines ¯\_(ツ)_/¯"
Its not clear if this is an issue with browerstack or hello-week but the getDays function generates dates two days before the date selected on Windows 8.1 browerstack machines (across all major browser brands). I don't have access to another instance of Windows 8.1 to confirm if this is an issue with browerstack or hello-week. Is this a known issue? And are there any suggestions re. how to resolve

[2020-07-27 09:16] mauroreisvieira commented on #47
Hello @theodorewilkins thanks for your report. I will check ASAP, but can you check the version 3.x if the issue exists?

Thanks again.

[2020-11-07 22:09] Kev1n337 opened #49 "maxDate above 30th December 2020 disables all dates"
maxDate does not work for days later than 31st December 2020. When this date is set as maxDate, all dates are disabled, not only the ones below min and above max.

Reproduction:
[code]

[2020-11-07 22:10] Kev1n337 opened #50 "Using a date later than 30th December 2020 as maxDate disables all days"
maxDate does not work for days later than 31st December 2020. When this date is set as maxDate, all dates are disabled, not only the ones below min and above max.

Reproduction:
[code]

[2020-11-07 22:13] #49 closed

[2020-11-17 13:32] mauroreisvieira commented on #50
Hello @Kev1n337 I don't know if I understand well the issue that you are reporting.

So you are saying that when we do that:

[code]
the December 31 should't be include?
If so, I don't consider that an issue, because it's always depending the situation.

Look to this exemple: https://hello-week.now.sh/#/docs/v2/min-and-max

[2020-11-25 16:21] leobenkel opened #51 "Issue after modifying the DOM"
Hello,

I am working on a project where I kind of want to color the dates , similarly to what Github does on the profile page with the days colored.

I use jquery to select the `.day` element and modify the content of the one that have activities.

However, those days now stop working when clicked on, with the following error:

[code]

It is minified which makes it hard to find out exactly where i

[2020-11-25 16:26] mauroreisvieira commented on #51
Hi @leobenkel can you share a snippet how do you are initialise HelloWeek?

Also you can customize color of highlight dates, that way: https://hello-week.now.sh/#/docs/v2/highlight-dates

[2020-11-25 16:28] leobenkel commented on #51
Here is how I initialize the calendar. I am using `requirejs`

[code]

[2020-11-25 16:29] leobenkel commented on #51
Thank you for your suggestion but I need to have something richer than just one color.

[2020-11-25 16:33] mauroreisvieira commented on #51
Ok, you are using version 3.0.0 (beta) right?
So, what do you want is customize color of dates. Do you have an array with dates that you want customize?

[2020-11-25 16:37] leobenkel commented on #51
I got the latest from the [Release](https://github.com/mauroreisvieira/hello-week/releases) which is `2.10.3`.

I have an array of date with an array of color, and I need to add blocks for all those colors inside each of the date. Something like this:

<img width="1043" alt="Screen Shot 2020-11-25 at 17 37 09" src="https://user-images.githubusercontent.com/4960573/100256250-6ddf0980-2ef9-11eb-98e6

[2020-11-25 17:31] mauroreisvieira commented on #51
In that case, you are using options that are not available in that version (2.10.3).

For example: `beforeLoad` or `beforeCreateDay`.

So version **2.x don't allow an option to customize DOM**, that option is only available on version 3.

So I give an example of what you can do with version 3.0:

[code]

As you can see on that snippet it's possible manipulate **day node** before rendering using `b

[2020-11-25 17:41] leobenkel commented on #51
ok, i am trying to load the v3 but for some reason `requireJS` is not happy about it. works perfectly with v2.x that i was using tho.

[2020-11-25 17:53] mauroreisvieira commented on #51
Ok, version 3 it's available in `cjs`, `iife` (default) and `esm`.

but for you understand what is the problem with that error:

[code]

What I understand from you explanation you are adding a new HTMLElement inside the HTMLElement with class `day`.
The problem is that you are adding a new element but that element will preventing the click on HTMLElement with class `day`.
To fixed that you should

[2020-11-25 18:18] leobenkel commented on #51
ok , I made some progress. I was able to add the library to `RequireJS` , using

[code]

I am able to render the calendar, using your example and what i have previously done.

Right now, I am having trouble understanding how to get/use your `el` magic thing :)

[2020-11-25 18:28] leobenkel commented on #51
What I am doing right now:

[code]

but i am getting:

[code]

[2020-11-25 18:59] mauroreisvieira commented on #51
Good to know that you made progress :)

Ok, so you don't need that:

[code]

You can use only `el()` function.

So let me explain how that function works:

[code]

**nodeName:** Create node element like: p, div, a, ul, li, nav...
**attributes:** Object with attributes, like: id, class, styles....
**args:** Can receive a string our a other `el()`.

Confused??? Ok, let's see an exemple:

If you call

[2020-11-25 19:03] leobenkel commented on #51
Thank you for your explanation !
I understand how to use `el()` but I dont understand how to bring into my code using `RequireJS`.

the file where i use `HelloWeek` looks like:

[code]
`calendarLib` come from https://github.com/mauroreisvieira/hello-week/issues/51#issuecomment-733873381

If I try to use `el` it does not exist.

[code]

[2020-11-25 19:25] mauroreisvieira commented on #51
I never work in RequireJS.

But try to use that way: `calendarLib.el()`

Any way why do you need `RequireJS`?

[2020-11-25 19:27] leobenkel commented on #51
I am building a client side only app and requirejs is the only way i know how to do it without the need to use any construction CI/CD pipeline.

I found a way to make it work.

I downloaded the release js locally.

And wrapped it into a `define` , it works now :)

It is an open source app , I will send you the link when it is all working out

[2020-11-25 19:30] mauroreisvieira commented on #51
Ok, I happy to see that working.

I will waiting for for that link. 👍

and thanks for choose Hello Week.

[2020-11-25 19:44] leobenkel commented on #51
I found why it does not work, it is at https://github.com/mauroreisvieira/hello-week/blob/0ebb7255f057f4d31218d0402c1ab32965dfe259/src/util/index-of.ts#L5

The array is containing the original days DOM created. But the target is what has been clicked on which might not be the right thing.

I now understand what you meant by `pointer-events: none` !

[2020-11-25 20:47] mauroreisvieira commented on #51
Yea, I will fix that to avoid that kind of workarounds.

[2020-11-25 22:26] leobenkel commented on #51
@mauroreisvieira , just for you: https://daily-achievements.netlify.app/ , it is a WIP. It is not public yet. But this is where I use the library :)

[2020-12-31 23:15] amilham commented on #50
I've run into this as well. The problem is that if `maxDate` is set to 2020-12-31 or later, *all* dates get grayed out and unselectable. This is definitely not correct behavior. What's more, I was finding that if I've got `minDate` set to `new Date()` and no max date, then dates are enabled only up to January 1. I had to remove both the `minDate` and `maxDate` settings to get the calendar working

[2021-01-04 10:46] mauroreisvieira commented on #50
Hello @amilham can you share what version are you using?

[2021-01-30 22:02] effone opened #53 "`this.date.setDate` is not a function"
If I call `calendar.goToday();` I am getting this:

![image](https://user-images.githubusercontent.com/21265591/106368973-c3111e80-6373-11eb-94f9-06aa27603ccf.png)

What am I doing wrong?

Edit:
Managing this way by the time I get help:
[code]
and the padding:
[code]

[2021-01-31 23:23] mauroreisvieira commented on #53
Hi @effone sorry it's a mistake on Hello Week docs.

`goToday()` method is not more supported, now you should use `goToDate()`, and by default if you don't pass any values in `goToDate` will jump to today date.

So you can change your approach to:

[code]

[2021-01-31 23:41] effone commented on #53
Thanks for the help.

[2021-01-31 23:41] #53 closed

[2022-01-13 16:04] jdtig commented on #47
I had this same problem on Windows 11 with hello-week 2.10.3.

If I run 3.0.4-beta and use the getDaySelected() function it does appear to be fixed.

[2022-01-13 16:58] mauroreisvieira commented on #47
Hey @jdtig can you give me more information.

What is your time zone?
Can you share some videos or screenshots?

I would like to help you, but I need to reproduce the issue on my side.

TY

[2022-01-13 17:33] jdtig commented on #47
I'm in US CST (Chicago). Windows 11, Chrome v.97.

Here's what it looks like when I click on Jan 14:
![error02](https://user-images.githubusercontent.com/88938203/149379885-76b7ee21-897b-4a29-bbe6-27815992f546.png)

If I remove the Bootstrap CSS, I get some other weirdness and dates aren't lining up.
![error01](https://user-images.githubusercontent.com/88938203/149379749-cfd3f5f2-58a7-465b-93bc-8d

[2022-01-14 02:41] jdtig commented on #47
And yes, it does seem to be related to time zones. If I change my time zone in Windows to UTC, it seems to select the correct day.

[2022-01-14 19:31] mauroreisvieira commented on #47
Hey @jdtig can you please test version **2.12.0-rc**

**Check demo:**
https://jsfiddle.net/rq2x3gka/2/

[2022-01-15 02:06] jdtig commented on #47
Hi Mauro,

It looks like it's selecting the correct day when I use 2.12.0.

Thanks you so much!

[2022-01-17 09:56] #47 closed

[2022-10-06 02:46] jidrone commented on #19
I have been using the 3.x versions and the issue is still present, it is like at some time at night when I check the calendar all highlighted days are one day before and the next day when I see the calendar during the morning the highlighted days are ok.

[2022-10-07 18:56] mauroreisvieira commented on #19
Hey @jidrone version 3.x is not stable and to be honest, I don't have been working on that new version (I have been thinking about refactoring everything from scratch).

So, please use version **2.13.0** that issue was solved, you just need to pass the option `timezoneOffset` on HelloWeek initialization.

Please let me know if, the issue is still present after that.

[2022-10-10 08:42] #51 closed

[2022-10-10 08:42] #40 closed

[2022-10-10 08:43] #39 closed

[2022-10-10 08:43] #44 closed

[2022-10-10 08:45] mauroreisvieira commented on #50
This issue is stale because it has been open for 30 days with no activity.

[2022-10-10 08:45] #50 closed

[2022-10-10 08:45] mauroreisvieira commented on #20
This issue is stale because it has been open for 30 days with no activity.

[2022-10-10 08:45] #20 closed

[2022-10-10 08:45] mauroreisvieira commented on #19
This issue is stale because it has been open for 30 days with no activity.

[2022-10-10 08:46] mauroreisvieira commented on #30
This issue is stale because it has been open for 30 days with no activity.

[2022-10-10 08:46] #30 closed